
.image-book-teachers {
    background-color: lightgray;
    /* background-image: url(../Image/img/page-header.jpg); */
    background-image: url(../Images/img/page-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.h1-teachers {
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-left: 200px;
    padding-top: 85px;
}

.h6-home-to-teachers {
    color: white;
    margin-left: 200px;
}

.iconright-arrow {
    width: 20px;
    height: 20px;
    color: white; 
}


@media (max-width: 768px) and (min-width: 425px) {
    .h1-teachers, .h6-home-to-teachers {
        margin-left: 50px; 
    }
}


/* second page=========================================================== */


.h5-subjects-data {
    color: #FF6600;
    letter-spacing: 4px;
}

.h1-data-subject {
    color: #44425A;
    font-weight: 700;
}

.image-wrapper {
    overflow: hidden;
    width: 270px;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.image-opacity {
    background-color: rgba(0, 0, 0, 0.507);
    height: 150px;
    border-radius: 8px;
}

.image:hover {
    border-radius: 8px;
}

.image-1 {
    /* background-image: url(../Image/img/cat-1.jpg); */
    background-image: url(../Images/img/cat-1.jpg);
    border-radius: 8px;
} 

.image-2 {
    /* background-image: url(../Image/img/cat-2.jpg); */
    background-image: url(../Images/img/cat-2.jpg);
    border-radius: 8px;
}

.image-3 {
    /* background-image: url(../Image/img/cat-3.jpg); */
    background-image: url(../Images/img/cat-3.jpg);
    border-radius: 8px;
}

.image-4 {
    /* background-image: url(../Image/img/cat-4.jpg); */
    background-image: url(../Images/img/cat-4.jpg);
    border-radius: 8px;
}

.image-5 {
    /* background-image: url(../Image/img/cat-5.jpg); */
    background-image: url(../Images/img/cat-5.jpg);
    border-radius: 8px;
}

.image-6 {
    /* background-image: url(../Image/img/cat-6.jpg); */
    background-image: url(../Images/img/cat-6.jpg);
    border-radius: 8px;
}

.image-7 {
    /* background-image: url(../Image/img/cat-7.jpg); */
    background-image: url(../Images/img/cat-7.jpg);
    border-radius: 8px;
}

.image-8 { 
    /* background-image: url(../Image/img/cat-8.jpg); */
    background-image: url(../Images/img/cat-8.jpg);
    border-radius: 8px;
}

.image:hover {
    transform: scale(1.3);
    border-radius: 8px;
}

.data-image-eight {
    /* padding: 80px 40px; */
    text-align: center;
}

.h4-web-design {
    transition: none;
}

/* .data-image-eight {
    padding: 120px 40px;
} */




/* teachers third=============================== */


.h5-courses {
    color: #FF6600;
    letter-spacing: 5px;
}

.h1-courses-data {
    color: #44425A;
    font-weight: 700;
}

.btn-teachers-btn {
    background-color: #FF6600;
    border: none;
}

.btn-teachers-btn:hover {
    background-color: #b34700;
}

.card-title {
    color: #44425A;
    font-size: 22px;
}

.card-title:hover {
    text-decoration: underline;
    color: #b34700;
    cursor: pointer;
}

.card-body-teachers {
    background-color: #F2F1F8 !important;
    border: none;
}

.teachers-pages {
    position: relative;
    /* top: 100px; */
}

@media (max-width: 992px) and (min-width: 768px) {
    .teachers-pages {
        position: relative;
        top: 10px;
    }
}


/* footer========================================= */




.footer {
    padding: 100px 10px; 
    background-color: #44425A !important;
    color: white;
    text-align: center;
    width: 100%; 
    height: 482px;
    margin-top: 200px; 
}

.contact-page {
    padding: 100px 20px;
    padding-bottom: 150px; 
}

.FOOTER-DATA-COL-1 {
    letter-spacing: 5PX;
    color: #FF6600;
    font-weight: 600;
}

.row-of-footer {
    position: relative;
    top: 10px;
}

.input-button-type {
    width: 60%;
    height: 60px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid white;
    
}

@media(min-width: 992px) and (max-width: 1200px) {
    .input-button-type {
        position: relative;
        left: 170px;
        width: 35%;
        height: 60px;
    }
    .btn-data-footer{
        position: relative;
        left: 170px;
    }
    .fotter-pra-footer {
        padding: 0px 5px 0px 168px;
    }
    .footer{
        height: 520px;
    }
   .row-for-footer-method {
    position: relative;
    bottom: 220px;
   }
   .last-content{
   width: 0%;
   height: 0%;
   }
}

@media(min-width: 768px) and (max-width: 992px) {
    .footer{
        height: 680px;
    }
}

@media(min-width: 576px) and (max-width: 768px){
    .footer{
        height: 720px;
    }
}

@media(min-width: 375px) and (max-width: 576px) {
    .footer {
        height: 1060px;
    }
}

.input-button-type:focus {
 border: none;
}

.btn-data-footer {
    width: 25%;
    height: 60px;
    border: 1px solid #FF6600;
    background-color: #FF6600;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.last-content {
    width: 100%;
    height: 80px;
    position: relative;
    top: 53px;
}

.p-text-underline:hover {
  text-decoration: underline;
}

.footer {
    position: relative;
    top: 500px;
}


@media(min-width: 992px) and (max-width: 1200px) {
    .email-entry-for-footer {
        position: relative;
        left: 420px;
        bottom: 247px;
    }
    .FOOTER-DATA-COL-1 {
       position: relative;
    }
}

@media(min-width: 375px) and (max-width: 1200px) {
    .footer {
        position: relative;
        top: 550px;
    }
}
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
  }
  
  .social-icons span:hover {
    background-color: white; 
    color: black;
  }

  .social-icons span svg:hover {
    fill: black;
  }
  
  .social-icons svg {
    fill: #ffffff; 
 }

 .social-icons svg:hover {
    fill: black;
 }
  
